
.container {
	width: 1400px;
	margin: 0 auto;
	min-height: 100%;
}

.details-products {
    padding-left: 98px;
    padding-right: 98px;
    margin-top: 98px;
    height: 651px;
    width: 1360px;
}

.slider-control {
	width: 420px;
	height: 70px;
	margin: 11px auto 0px;
	padding-left: 100px
}

.location {
    padding: 0px 70px;
    width: 1400px;
}

.footer {
	height: 384px;
	width: 1400px;
	background-color: #f7f7f7;
	padding-left: 99px;
	padding-right: 98px;
	margin: -384px auto 0;
	clear: both;
}